*.hg
.obj
Release
Debug
Makefile*
*.pdb
*logfile*
_Upgrade*
UpgradeLog.XML
UpgradeLog2.XML
*.vcproj*
doc
*.sln
*.ncb
*.suo
*grasp_timing*
graspit.sdf
ui_*
*.moc
graspit.exp
*.dll
*.lib
.project
.hgignore
models/robots/Karlsruhe
models/robots/Robonaut
models/robots/Rutgers
models/robots/ShadowHand
models/robots/Puma*
models/robots/XR4000
models/robots/harvardHand
models/robots/pr2*
models/robots/M7body
models/robots/DLR*
models/robots/Kanguera
models/robots/Barrett
models/robots/HumanFinger
models/robots/HumanHand
models/robots/M7Tool
models/robots/SimpleArm
models/robots/TX60L
models/obstacles/
models/objects/
models/object_database
hardware
ipch
xmlconverter
matlab
*.idb*
workspace
unit_tests

*~
#*#
worlds/*M7*

